.navbar{
  /*background-color: transparent;*/
}

/*.navbar-default .navbar-nav>li>a{
  color: #CECECE;
}

.navbar-default .navbar-nav>li>a:hover{
  color: white;
}*/

body{
  /*background-color: #39311E;
  background: rgba(255,0,0,0.1);*/
  /*background-color: rgba(0, 0, 0, 0.3);*/
  /*background-image: url(../images/header.jpg);
  background-position: center center fixeds;*/

  background: url(../images/header.jpg) no-repeat center center fixed;
}

img{
  min-height: 100%;
}

.table-responsive{
  background-color: white;
}

/*.table-hover>td>a:hover{
  color: #FF4949;
}

.panel-default>.panel-heading{
  background-color: #F19F7B;
}

.table>tbody>tr:hover{
  background-color: #F2CCBB;

}

.nav-tabs.nav-justified>.active>a{
  background-color: white;
}

.nav-tabs.nav-justified>.active>a:hover{
  background-color: white;
}*/


/*.nav-tabs.nav-justified>li>a:hover {
  background-color: #FFEAD2;
}*/
